# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Git
.git/
.gitignore

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile

# Other
.DS_Store
